/* body{
    background-color: red;
    color:white;
}
screen -when it is 992 or less screen will blue
/*@media screen and (max-width:992px){
    body{
        background-color: aqua;
        color: white;
    }
}
@media screen and (max-width:776px){
    body{
        background-color: black;
        color:white;
    }

}
@media screen and (max-width:576px){
    body{
        background-color: peru;
        color:white;
    }

}
@media screen and (max-width:360px){
    body{
        background-color: rgb(156, 148, 148);
        color:white;
    }

} */
/* title*/
@media only screen and (orientation: landscape) {
    body {
      background-color: lightblue;
      box-sizing: border-box;
    }
  }

  @media screen and (max-width:576px) {
    .container {
        width:80%;
        background-color:rgb(207, 152, 152);
        color:white;
    }
}

.head{
    background-color: rgb(188, 187, 206);
    font-family: arial;
    font-size: 15px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}
